$main-font: 'Open Sans Condensed', sans-serif;
$input-font: 'Open Sans', sans-serif;
$title-font: 'Amatic SC', cursive;
$logo-font: 'Mr Bedfort', cursive;

$ok: '\2713';
$close: '\2717';

$black: #000;
$white: #fff;
$main: #07062c;
$main-hover: #00baba;
$grey: #d1d1d1;
$border: #efefef;
$text-grey: #999;
$green: #0ace00;